*{
    margin:0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.whole{
    background-color: rgb(226, 219, 219);
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px;
     height: 801px;
    display: flex;
    justify-content: space-between;
}

.photo img{
    width: 850px;
    margin-right: 50px;
    height: 800px;
    margin-top: 50px;
    

}

.main{
    margin-top: 190px;
    margin-right: 100px;
   
}
h1{
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;

}
p{
    font: size 14px;
    margin-bottom: 20px;
    color: #666;
}

/* .form{
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    font-size: 10px;
    margin-bottom: 5px;
    border: 2px solid #ddd;
    border-radius:12px;
} */


input[type="email"],[type="password"]{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.a1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
button{
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    margin-top: 25px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}


p{
    font-size:15px;
    margin-bottom: 5px;
}

.social img{
    border-radius: 50px;
    margin: 5px;
    border: 2px solid #ccc;

}





